@model InterviewProjectMvc1.Controllers.ClassUser
@{
    ViewData["Title"] = "EditUser";
}

<h1>Edit User</h1>
<form method="post">
    <label>ID</label>
    @Html.TextBoxFor(x=>x.UserId, new {@class="form-control"})
    <br />
    <label>Role ID</label>
    @Html.TextBoxFor(x=>x.RoleId, new {@class="form-control"})
    <br />
    <label>Full Name</label>
    @Html.TextBoxFor(x=>x.UserName, new {@class="form-control"})
    <br />
    
    <button type="submit" class="btn btn-outline-success">Update User</button>
</form>

